/* Design tokens: "r g b" triples, use as rgb(var(--token)) or rgb(var(--token) / alpha) */

:root {
	--background: 250 250 250;
	--foreground: 10 10 10;
	--primary: 23 23 23;
	--primary-foreground: 250 250 250;
	--secondary: 232 232 232;
	--secondary-foreground: 49 49 49;
	--muted: 225 225 228;
	--muted-foreground: 133 133 133;
	--accent: 246 246 246;
	--accent-foreground: 49 49 49;
	--destructive: 181 124 119;
	--destructive-foreground: 181 124 119;
	--border: 229 229 229;
	--input: 229 229 229;
	--ring: 10 10 10;
}

.dark {
	--background: 10 10 10;
	--foreground: 250 250 250;
	--primary: 250 250 250;
	--primary-foreground: 23 23 23;
	--secondary: 50 50 53;
	--secondary-foreground: 250 250 250;
	--muted: 33 33 35;
	--muted-foreground: 161 161 161;
	--accent: 23 23 23;
	--accent-foreground: 250 250 250;
	--destructive: 130 24 26;
	--destructive-foreground: 251 44 54;
	--border: 38 38 38;
	--input: 38 38 38;
	--ring: 212 212 212;
}
